.order {
  text-align: center;
}
.hero-container {
  display: flex;
  gap: 1rem;
}
.hero-plan-complete {
  border: 5px solid #ff6550;
  border-radius: 10px 10px 10px 10px;
  padding: 1rem;
  margin-bottom: 1em;
}

.save {
  background-color: yellow;
  border-radius: 10px 10px 10px 10px;
  float: right;
}
.trial {
  color: #ff6550;
}
.circle {
  float: right;
  font-size: 1.2em;
  color: #ff6550;
}
.circle-not-complete {
  float: right;
  font-size: 1.2em;
  color: grey;
}
.sale {
  color: #ff6550;
}

.hero-plan-not-complete {
  border: 5px solid grey;
  border-radius: 10px 10px 10px 10px;
  padding: 1rem;
  margin-bottom: 1em;
}

.hero-program-card {
  display: flex;
  gap: 1em;
}
.image img {
  border-radius: 4px;
}
.button {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Responsive */

@media only screen and (max-width: 600px) {
  .hero-container {
    flex-direction: column;
  }
}
