.container {
  width: 50%;
  margin: 0 auto;
}
.order {
  text-align: center;
}
.hero-container {
  display: flex;
  gap: 1rem;
}
.hero-plan-complete {
  border: 5px solid #ff6550;
  border-radius: 10px 10px 10px 10px;
  padding: 1rem;
}
.plan {
}
.save {
  background-color: yellow;
  border-radius: 10px 10px 10px 10px;
  float: right;
}
.circle {
  float: right;
  font-size: 1.2em;
  color: #ff6550;
}
.sale {
  color: #ff6550;
}
