.main-container {
  display: flex;
  gap: 1em;
}
.main-container-intro {
  flex-grow: 1;
}
.yoga {
  height: 200px;
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .main-container {
    flex-direction: column-reverse;
  }
}
